@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    @apply transition-colors duration-300;
  }



  /* 👇 Add this to your global CSS (index.css / tailwind.css) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


.font-logo { font-family: "Playfair Display", ui-serif, Georgia, serif; }